{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!
{% endblock %}

{% block body %}
	<div class="">
		Bienvenue
		{{user.prenom}}
		sur ton profil
		<a href="{{path('app_profile_reservations')}}">Mes reservations</a>
		<a href="{{ path('app_profile_infos') }}">Mes infos perso</a>
		<a href="">Parametre du compte</a>
	</div>
		<a href="{{ path('app_home') }}">Retour a l'accueil</a>

	<style>
		div {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			/* background-color: cyan; */
			height: 50%;
			width: 50%;
			margin: auto;
			font-size: 30px;
		}
	</style>
{% endblock %}
