{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
<style>
@font-face {
    font-family: "Italianno-Regular";
    src: url('../Fonts/Italianno-Regular.ttf') format('truetype');
}



.menu{
    display:flex;
    flex-direction:column;
    justify-content:center;
    margin-top:100px;
    background-color:#D9D9D9;
    margin-left:400px;
    margin-right:400px;
    padding-bottom:50px;
    border-radius:15px;
    border: goldenrod solid;
    margin-bottom:100px;
    
}

.welcome{
    font-family:verdana bold;
    text-align:center;
}

.link {
    justify-content:center;
    margin-top:50px;
    text-decoration:none;
    font-family:verdana;
    text-align:center;
    color:black;
}

body{
    background-image: url('/images/14848683028_4727ac7e6c_b.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.spacer {
    margin-left:50px;
    margin-right:50px;
    height: 1px;
    background-color:grey;
}

</style>

<div class="menu">
<p class="welcome">Bienvenue {{user.prenom}} sur votre profil</p>
<br/>
<a class="link" href="{{path('app_profile_reservations')}}">Mes reservations</a>
<br/>
<div class="spacer"></div>
<a class="link" href="{{path('app_profile_infos')}}">Mes infos perso</a>
<br/>
<div class="spacer"></div>
<a class="link" href="{{path('app_profile_edit')}}">Parametre du compte</a>
<br/>
<div class="spacer"></div>
</div>
{% endblock %}
