*{
    padding: 0;
    margin: 0;
}

body{
background-image: url('/images/hall.jpg');
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed; 
}

h1{
    padding-top:100px;
    text-align:center;
    font-family:Italianno-Regular;
    font-size:50px;
}

.chambre {
display:flex;
flex-direction:column;
justify-content:center;
margin-top:60px;
background-color:#D9D9D9;
margin-left:400px;
margin-right:400px;
padding-bottom:50px;
border-radius:15px;
border: goldenrod solid;
margin-bottom:100px;
    }

.info{
	background-color:#002890;
	color: white;
	border:solid goldenrod;
	width:150px;
	padding-bottom: 10px;
	border-radius:10px;
	transition: background-color 0.2s, color 0.1s;
	font-family:verdana;
	font-size:14px;
	margin-top:15px;
    text-align: center;
	margin:0 auto;
}

.info:hover {
color: goldenrod;
transform: scale(1.07);
}
.chambre p,
.chambre {
font-family:verdana;
font-size:20px;
text-align:center;
}

/* Supprimez les propriétés flexbox de la classe .back */
.back {
display: flex;
flex-direction:column;
justify-content:center;
margin-right:400px;
  background-color: #183456;
  color: white;
  border: solid goldenrod;
  width: 180px;
align-items:end;
  height: 40px;
margin-bottom:60px;
  border-radius: 10px;
  margin: 15px auto; /* Pour centrer verticalement et horizontalement */
  transition: background-color 0.2s, color 0.1s;
  font-family: verdana;
  font-size: 14px;
}

