{% extends 'base.html.twig' %}

{% block head %}

{% endblock %}

{% block title %}Accueil
{% endblock %}

{% block body %}
    <link rel="icon" href="{{ asset('Images/Logo.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ asset('css/accueil.css') }}">

<div class="titre1">
    <img src="{{ asset('images/titre.png') }}" alt="titre">
</div>

<style>

</style>

{% endblock %}