{% extends 'base.html.twig' %}

{% block title %}Edit Chambre{% endblock %}

{% block body %}
    <h1>Edit Chambre</h1>

    {{ include('admin_chambre/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_chambre_index') }}">back to list</a>

    {{ include('admin_chambre/_delete_form.html.twig') }}
{% endblock %}
